.format {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom:30px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.text {
    display:flex;
    flex-direction: column;
    gap: 20px;
}