.format {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}

.format:focus-within #reaction {
  display: block;
  outline: none;
}

.format:not(:focus-within) #reaction {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
