.format {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}

.reaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reactionRespond {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
